body{
    margin: 0;
}
.container{
    background-color: yellow;
    list-style-type: none;
    padding-left: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
    flex-wrap: wrap;
    height: 300px;
}
.item{
    flex-grow: 1;
    flex-basis: 500px;
}
.item1{
    background-color: blueviolet;
    flex-shrink: 2;
    order: 1;
}
.item2{
    background-color: lightgreen;
    flex-grow: 2;
}
.item3{
    background-color: skyblue;
    align-self: flex-end;
}
.item4{
    background-color: tomato;
    order: -1;
}